.header {
  &__wrapper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 0 80px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    background: rgba(49, 49, 49, 0.6);

    transform: translateZ(0);
    transition: .4s;
    cursor: pointer;

    &:hover {
      transform:perspective(50px) translateZ(3px);
    }

    &.active {
      background: rgba(113, 113, 113, 0.6);
    }
  }
}